.fa-ellipsis{
    opacity: 0;
    cursor: pointer;
}

.comment:hover .fa-ellipsis{
 opacity: 1;
}

textarea {
    white-space: pre-wrap;
}


/* login page */

.fa-eye, .fa-eye-slash{
    position: relative;
    top: -25px;
    cursor: pointer;
}