body {
    font-family: 'Lato', sans-serif !important;
    background-color: #eaeaea;
  }
a{
  text-decoration: none;
  color: #4e5166;
}
.hover-item{
  cursor: pointer;
}
@media (max-width: 576px) {

}